<%- include('./header', {
  is_page: 'single',
  settings: settings,
  entries: entries
}) %>

<h2><%= entries.title %></h2>

<time><%= entries.date %></time>

<p><%= entries.content %></p>

<%- include('./footer') %>